<% include partials/header %>
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1 id="land-h1"> YelpCamp </h1>
					<h3> The Worlds First Camping Site </h3>
					<hr id="land-hr">
					<a href="/campgrounds" class="btn btn-default btn-lg"> <i class="fa fa-compass" aria-hidden="true"></i> View All Campgrounds</button>					
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>